*.bam
*.csv
*.gz
*.png
*.sam
*.xls
*.xlsx
*.~lock.*
*data
*~
00_archive/*
03_genome/*
04_data/*
05_trimmed/*
06_extracted/*
07_aligned/*
08_deduplicated/*
09_sites/*
10_read_dropout/*
99_logfiles/*
human*.csv
